<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!-- <h1>Registration </h1>-->
<!--      <form action="{% url 'register_view' %}" method="POST">-->
<!--      {% csrf_token %}-->
<!--      <p>Please fill in this form to create an account.</p>-->
<!--      <hr>-->
<!--       <label for="fname"><b>Name</b></label>-->
<!--      <input type="text"id="fname"  placeholder="Enter Name" name="fname" required>-->
<!--      <label for="eml"><b>Email</b></label>-->
<!--      <input type="text"id="eml" placeholder="Enter Email"  name="eml" required>-->

<!--      <label for="psw"><b>Password</b></label>-->
<!--      <input type="password"id="psw" placeholder="Enter Password" name="psw" required>-->



<!--      <p><a href="#DocReg" style="color:dodgerblue">already have an account-&#45;&#45;LOGIN </a></p>-->
<!--</body>-->
<!--</html>-->
